# Next.js
.next/
out/
node_modules/
.env.local
.env
.env.vercel

# Expo / React Native
mobile/node_modules/
mobile/.expo/
mobile/dist/

# Firebase Functions
functions/lib/
functions/node_modules/
functions/.env

# Firebase / Google credentials
mobile/google-services.json
mobile/GoogleService-Info.plist


.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
